@page
@model InfoPartiiSchi.Pages.Partii.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Partie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Partie.Nume" class="control-label"></label>
                <input asp-for="Partie.Nume" class="form-control" />
                <span asp-validation-for="Partie.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie.Lungime" class="control-label"></label>
                <input asp-for="Partie.Lungime" class="form-control" />
                <span asp-validation-for="Partie.Lungime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie.AltitudineMaxima" class="control-label"></label>
                <input asp-for="Partie.AltitudineMaxima" class="form-control" />
                <span asp-validation-for="Partie.AltitudineMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie.AltitudineMinima" class="control-label"></label>
                <input asp-for="Partie.AltitudineMinima" class="form-control" />
                <span asp-validation-for="Partie.AltitudineMinima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie.Dificultate" class="control-label"></label>
                <input asp-for="Partie.Dificultate" class="form-control" />
                <span asp-validation-for="Partie.Dificultate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie.Video" class="control-label"></label>
                <input asp-for="Partie.Video" class="form-control" />
                <span asp-validation-for="Partie.Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie.StatiuneID" class="control-label">Stațiune</label>
                <select asp-for="Partie.StatiuneID" class ="form-control" asp-items="ViewBag.StatiuneID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
