@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<div class="text-center">

    <p>Aplicatia&nbsp;<strong><em>Info P</em></strong><strong><em>artiiS</em></strong><strong><em>chi</em></strong>&nbsp;prezintă&nbsp;informatii&nbsp;despre&nbsp;starea&nbsp;partiilor&nbsp;din Romania, sub forma&nbsp;tabelara,&nbsp;astfel&nbsp;incat&nbsp;utilizatorul&nbsp;sa&nbsp;poata&nbsp;alege&nbsp;domeniul&nbsp;schiabil&nbsp;de care&nbsp;este&nbsp;interesat.&nbsp;</p>
</div>
    <ol>
        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="1" data-aria-level="1">Profil&nbsp;client:&nbsp;practicanti&nbsp;ai&nbsp;sporturilor&nbsp;de&nbsp;iarna;&nbsp;</li>
    </ol>
    <ol start="2">
        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">
            Nevoi:
            <ul>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">
                    Detalii&nbsp;permanente&nbsp;ale&nbsp;partiilor:
                    <ul>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Numar&nbsp;de&nbsp;partii&nbsp;</li>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Lungimea&nbsp;partiei&nbsp;</li>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Altitudine&nbsp;maxima&nbsp;si&nbsp;minima&nbsp;</li>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Gradul&nbsp;de&nbsp;dificultate&nbsp;al&nbsp;partiilor&nbsp;</li>
                    </ul>
                </li>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">
                    Vizualizarea&nbsp;starii&nbsp;partiilor:
                    <ul>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Camera&nbsp;live&nbsp;</li>
                    </ul>
                </li>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Logare&nbsp;pe&nbsp;cont&nbsp;de administrator care&nbsp;permite&nbsp;modificarea&nbsp;informatiilor&nbsp;legate de&nbsp;partii&nbsp;</li>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Posibilitate&nbsp;de&nbsp;logare&nbsp;pentru&nbsp;useri&nbsp;</li>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Rulare&nbsp;in browser&nbsp;</li>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">
                    Interfata&nbsp;grafica
                    <ul>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Meniu&nbsp;navigatie&nbsp;intre&nbsp;pagini&nbsp;web&nbsp;si&nbsp;buton&nbsp;Help&nbsp;</li>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Butoane&nbsp;de control:&nbsp;</li>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Detalii&nbsp;</li>
                        <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Buton&nbsp;pentru&nbsp;schimbarea&nbsp;limbii&nbsp;</li>
                    </ul>
                </li>
                <li data-leveltext="%1." data-font="" data-listid="30" data-aria-posinset="2" data-aria-level="1">Aplicatia&nbsp;va&nbsp;fi&nbsp;disponibila&nbsp;atat&nbsp;in&nbsp;limba&nbsp;romana, cat&nbsp;si&nbsp;in&nbsp;limba&nbsp;engleza.&nbsp;</li>
            </ul>
        </li>
    </ol>



